.container
    display: flex
    align-items: stretch
    justify-content: space-between
    height: 500px
    background: silver
    .item
        text-align: center
        border 1px solid red
        margin-left: -1px
        flex-grow: 1
    .item-1
        width 100px
        flex-grow 0

.layout-item
    position: relative

    .divider
        position: absolute
        background: green
        
