.container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 500px;
  background: #c0c0c0;
}
.container .item {
  text-align: center;
  border: 1px solid #f00;
  margin-left: -1px;
  flex-grow: 1;
}
.container .item-1 {
  width: 100px;
  flex-grow: 0;
}
.layout-item {
  position: relative;
}
.layout-item .divider {
  position: absolute;
  background: #008000;
}
